<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">    
            <div class="col-xl-8">
                <div class="product-page-details product-right mb-0">
                    <h2>Order Details</h2>
                    <hr>
                    <div class="container-gap">
                        <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                            doloremque
                            laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem,</p>

                        <div style="margin-top: 30px;">
                            <h4 class="product-title">Customer</h4>
                            <hr>
                            <div class="payment-section" style="margin-top: 20px;">
                                <div class="font-size-13">
                                    <strong>Name</strong>: {{dummyData?.user_info?.name}}
                                </div>
                                <div class="font-size-13">
                                    <strong>Contact No</strong>: {{dummyData?.user_info?.contact}}
                                </div>
                            </div>
                            <div style="margin-top: 20px;" class="font-size-13">
                                <strong>Address</strong>: {{dummyData?.user_info?.address}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-gap">
                        <h4 class="product-title">Payment</h4>
                        <hr>
                        <div class="payment-section">
                            <div class="font-size-13">
                                <strong>Status</strong>: <span class='badge badge-secondary'>{{dummyData.payment_status}}</span>
                            </div>
                            <div class="font-size-13">
                                <strong>Method</strong>: <span class='badge badge-secondary'>{{dummyData.payment_method}}</span>
                            </div>
                            <div class="font-size-13">
                                <strong>Invoice No</strong>: {{dummyData.invoice_no}}
                            </div>
                        </div>
                        <div style="margin-top: 20px;" class="font-size-13">
                            <strong>Billing Address</strong>: {{dummyData.billing_address}}
                        </div>
                        <div style="margin-top: 20px;" class="font-size-13">
                            <strong>Shipping Address</strong>: {{dummyData.shipping_address}}
                        </div>
                    </div>
                    <div class="container-gap">
                        <h4 class="product-title">Products</h4>
                        <hr>
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item" *ngFor="let prod of dummyData.products">
                                    <img [src]='prod' class='img-30 mr-2'>
                                </li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="order-summary">
                    <div class="container-gap">
                        <h4>Order Summary</h4>
                        <hr>
                        <div style="margin-top: 20px;" class="font-size-13">
                            <strong>Date</strong>: {{dummyData.date}}
                        </div>
                        <div style="margin-top: 20px;" class="font-size-13">
                            <strong>Order Status</strong>: 
                            <span class='badge badge-success'>{{dummyData.order_status}}</span> 
                            <span class="change-btn" data-toggle="modal" (click)="changeStatus(Status)">Change</span>
                        </div>
                        <div style="margin-top: 20px;" class="font-size-13">
                            <strong>Total</strong>: <h5 class="d-inline">${{dummyData.total}}</h5> 
                            <span class="change-btn" data-toggle="modal" (click)="changeTotal(Total)">Change</span>
                        </div>
                        <div class="row" style="margin-top:30px;justify-content: space-evenly;">
                            <button class="btn btn-primary col-12 col-sm-3" type="button"
                            ngbTooltip="print" placement="bottom">
                                <i class="fa fa-print"></i>
                            </button>
                            <button class="btn btn-secondary col-12 col-sm-3" type="button" 
                            ngbTooltip="chat" placement="bottom">
                                <i class="fa fa-comments"></i>
                            </button>
                            <button class="btn btn-warning col-12 col-sm-3"
                             type="button" ngbTooltip="back" placement="bottom" [routerLink]="'/sales/orders'">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #Total let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Price</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" ngbAutofocus [(ngModel)]="total" 
            class="form-control" id="price" aria-describedby="price" placeholder="Enter Price">
        </div>
        <div class="action">
            <button class="btn btn-primary" type="button" (click)="updateTotal()">Update</button>
        </div>
    </div>
</ng-template>

<ng-template #Status let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="status">Select Status</label>
            <select class="form-control" id="status" ngbAutofocus [(ngModel)]="status" name="status">
              <option value="Pending">Pending</option>
              <option value="Rejected">Rejected</option>
              <option value="Delivered">Delivered</option> 
            </select>
          </div>
        <div class="action">
            <button class="btn btn-primary" type="button" (click)="updateStatus()">Update</button>
        </div>
    </div>
</ng-template>