<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Return & Exchange</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <ngx-datatable class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                            <!-- <ngx-datatable-column prop="order id"></ngx-datatable-column> -->
                            <ngx-datatable-column name="Products"></ngx-datatable-column>
                            <ngx-datatable-column prop="type"></ngx-datatable-column>
                            <ngx-datatable-column name="Requested on" prop="requested_on"></ngx-datatable-column>
                            <ngx-datatable-column name="Amount" prop="total"></ngx-datatable-column>
                            <ngx-datatable-column name="Remarks" prop="remarks"></ngx-datatable-column>
                            <ngx-datatable-column name="Action" sortable="false" prop="order id">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <span style="color:blue;cursor: pointer;">
                                        <i class="fa fa-eye" (click)='onSelectRow(value)'></i>
                                    </span>
                                  </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->