<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="profile-details text-center">
            <!-- <img
              src="assets/images/dashboard/designer.jpg"
              alt=""
              class="img-fluid img-90 rounded-circle blur-up lazyloaded"
            /> -->
            <div class="img-container">
              <img
                [src]="
                  profileImage
                    ? profileImage
                    : 'assets/images/dashboard/designer.jpg'
                "
                alt="Avatar"
                class="image img-fluid img-90 rounded-circle blur-up lazyloaded"
              />
              <div class="middle" (click)="openCropper(cropperModal)">
                <div class="text">
                  {{ profileImage ? "Change Image" : "Add Image" }}
                </div>
              </div>
            </div>
            <h5 class="f-w-600 mb-0">
              {{ "tab_marketoo_seller" | translate }}
            </h5>
            <span>{{ userInfo?.sellerId }}</span>
            <!-- <div class="social">
                            <div class="form-group btn-showcase">
                                <button class="btn social-btn btn-fb d-inline-block">
                                    <i class="fa fa-facebook"></i></button>
                                <button class="btn social-btn btn-twitter d-inline-block"><i
                                        class="fa fa-google"></i></button>
                                <button class="btn social-btn btn-google d-inline-block mr-0"><i
                                        class="fa fa-twitter"></i></button>
                            </div>
                        </div> -->
          </div>
          <hr />
          <div class="project-status">
            <h5 class="f-w-600">
              {{ "tab_marketoo_performance" | translate }}
            </h5>
            <div class="media">
              <div class="media-body">
                <h6>
                  {{ "tab_marketoo_averagetime_ship" | translate
                  }}<span class="pull-right">{{
                    "tab_marketoo_averagetime_ship_days" | translate
                  }}</span>
                </h6>
                <div class="progress sm-progress-bar">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <h6>
                  {{ "tab_marketoo_likes" | translate }}
                  <span class="pull-right">21</span>
                </h6>
                <div class="progress sm-progress-bar">
                  <div
                    class="progress-bar bg-secondary"
                    role="progressbar"
                    style="width: 60%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <h6>
                  {{ "tab_marketoo_purchased" | translate
                  }}<span class="pull-right">287</span>
                </h6>
                <div class="progress sm-progress-bar">
                  <div
                    class="progress-bar bg-danger"
                    role="progressbar"
                    style="width: 70%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="card tab2-card">
        <div class="card-body">
          <ngb-tabset class="tab-coupon profile-tabs">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <app-feather-icons [icon]="'user'"></app-feather-icons>
                {{ "tab_profile" | translate }}
              </ng-template>
              <ng-template ngbTabContent>
                <div
                  class="tab-pane fade show active"
                  id="top-profile"
                  role="tabpanel"
                  aria-labelledby="top-profile-tab"
                >
                  <div class="row">
                    <div class="col-6">
                      <h5 class="f-w-600">{{ "profile" | translate }}</h5>
                    </div>
                    <div class="col-6 text-right">
                      <app-feather-icons
                        [icon]="'edit'"
                        style="cursor: pointer"
                        (click)="editProfile()"
                        *ngIf="!isEdit"
                      ></app-feather-icons>
                    </div>
                  </div>
                  <div class="table-responsive profile-table">
                    <table class="table table-responsive">
                      <tbody>
                        <tr>
                          <td>{{ "ch_full_name" | translate }}</td>
                          <td *ngIf="!isEdit">{{ profile?.chineseFname }}</td>
                          <td *ngIf="isEdit" [formGroup]="sellerForm">
                            <input
                              class="form-control"
                              id="chineseFname"
                              type="text"
                              [formControl]="
                                sellerForm.controls['chineseFname']
                              "
                              required
                            />
                            <div
                              *ngIf="
                                sellerForm.controls.chineseFname.touched &&
                                sellerForm.controls.chineseFname.errors
                                  ?.required
                              "
                              class="text text-danger"
                            >
                              {{ "ch_name_req" | translate }}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>{{ "en_full_name" | translate }}</td>
                          <td *ngIf="!isEdit">{{ profile?.englishFname }}</td>
                          <td *ngIf="isEdit" [formGroup]="sellerForm">
                            <input
                              class="form-control"
                              id="englishFname"
                              type="text"
                              [formControl]="
                                sellerForm.controls['englishFname']
                              "
                              required
                            />
                            <div
                              *ngIf="
                                sellerForm.controls.englishFname.touched &&
                                sellerForm.controls.englishFname.errors
                                  ?.required
                              "
                              class="text text-danger"
                            >
                              {{ "en_name_req" | translate }}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>{{ "email" | translate }}</td>
                          <td>{{ profile?.email }}</td>
                        </tr>
                        <tr>
                          <td>{{ "p_gender" | translate }}</td>
                          <td *ngIf="!isEdit">
                            {{ profile?.gender | translate }}
                          </td>
                          <td *ngIf="isEdit" [formGroup]="sellerForm">
                            <select
                              class="form-control digits"
                              id="validationCustom04"
                              [formControl]="sellerForm.controls['gender']"
                            >
                              <option value="male">
                                {{ "p_gender_male" | translate }}
                              </option>
                              <option value="female">
                                {{ "p_gender_female" | translate }}
                              </option>
                              <option value="other">
                                {{ "p_gender_other" | translate }}
                              </option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>{{ "p_shop_name" | translate }}</td>
                          <td *ngIf="!isEdit">
                            {{ profile?.shopName || "N/A" }}
                          </td>
                          <td *ngIf="isEdit" [formGroup]="sellerForm">
                            <input
                              class="form-control"
                              id="shopName"
                              type="text"
                              [formControl]="sellerForm.controls['shopName']"
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>{{ "p_shop_loc" | translate }}</td>
                          <td *ngIf="!isEdit">
                            {{ profile?.shopLocation || "N/A" }}
                          </td>
                          <td *ngIf="isEdit" [formGroup]="sellerForm">
                            <input
                              class="form-control"
                              id="shopLocation"
                              type="text"
                              [formControl]="
                                sellerForm.controls['shopLocation']
                              "
                              required
                            />
                          </td>
                        </tr>
                        <tr>
                          <td>{{ "p_shop_intro" | translate }}</td>
                          <td *ngIf="!isEdit">
                            {{ profile?.shopIntro || "N/A" }}
                          </td>
                          <td *ngIf="isEdit" [formGroup]="sellerForm">
                            <input
                              class="form-control"
                              id="shopIntro"
                              type="text"
                              [formControl]="sellerForm.controls['shopIntro']"
                              required
                            />
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>{{ "p_bank" | translate }}</td>
                          <td>XXXXXXXXXXXXXXXXXX</td>
                        </tr>
                        <tr>
                          <td>{{ "p_acc_no" | translate }}</td>
                          <td>1111111111111</td>
                        </tr> -->
                      </tbody>
                    </table>
                    <div *ngIf="isEdit" style="text-align: right">
                      <app-button
                        [loading]="loading"
                        [disabled]="sellerForm.invalid"
                        [btnText]="'save_announcement'"
                        (onSubmit)="submitProfile()"
                      ></app-button>
                      <button
                        type="button"
                        class="btn btn-danger ml-2"
                        (click)="isEdit = false"
                      >
                        {{ "cancel" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i data-feather="settings"></i>
                {{ "tab_settings" | translate }}</ng-template
              >
              <ng-template ngbTabContent>
                <div class="account-setting">
                  <h5 class="f-w-600">{{ "announcement" | translate }}</h5>
                  <div class="row mb-2">
                    <div class="col">
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        maxlength="250"
                        name="announcement"
                        [(ngModel)]="announcement"
                        placeholder="{{
                          'announcement_placeholder' | translate
                        }}"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="account-setting">
                  <h5 class="f-w-600">{{ "notification" | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <label class="d-block" for="chk-ani">
                        <input
                          class="checkbox_animated"
                          id="chk-ani"
                          type="checkbox"
                          name="allowDesktopNotifications"
                          [(ngModel)]="allowDesktopNotifications"
                        />
                        {{ "n_allow_desk_not" | translate }}
                      </label>
                      <label class="d-block" for="chk-ani1">
                        <input
                          class="checkbox_animated"
                          id="chk-ani1"
                          type="checkbox"
                          name="enableNotifications"
                          [(ngModel)]="enableNotifications"
                        />
                        {{ "n_enable_not" | translate }}
                      </label>
                      <label class="d-block" for="chk-ani2">
                        <input
                          class="checkbox_animated"
                          id="chk-ani2"
                          type="checkbox"
                          name="getNotificationForOwnActivity"
                          [(ngModel)]="getNotificationForOwnActivity"
                        />
                        {{ "n_get_not" | translate }}
                      </label>
                      <label class="d-block mb-0" for="chk-ani3">
                        <input
                          class="checkbox_animated"
                          id="chk-ani3"
                          type="checkbox"
                          name="dnd"
                          [(ngModel)]="dnd"
                        />
                        {{ "n_dnd" | translate }}
                      </label>
                      <div class="mt-2 text-right">
                        <app-button
                          [loading]="loading"
                          [disabled]="!announcement"
                          [btnText]="'save_announcement'"
                          (onSubmit)="handleSubmit()"
                        ></app-button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="account-setting">
                  <h5 class="f-w-600 mb-1">{{ "Refer Code" | translate }}</h5>
                  <div class="row" *ngIf="profile?.referSeller">
                    <div class="col">
                      <p>{{ profile?.referSeller }}</p>
                    </div>
                  </div>
                  <div *ngIf="!profile?.referSeller">
                    <app-button
                      [loading]="generating"
                      [disabled]="false"
                      [btnText]="'Generate Code'"
                      (onSubmit)="generateReferCode()"
                    ></app-button>
                  </div>
                </div>
                <div class="account-setting deactivate-account">
                  <h5 class="f-w-600">{{ "deactivate_acc" | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <label class="d-block" for="edo-ani">
                        <input
                          class="radio_animated"
                          id="edo-ani"
                          type="radio"
                          [value]="0"
                          name="deactive_account"
                          [(ngModel)]="deactivateAccount"
                        />
                        {{ "d_i_have_priv" | translate }}
                      </label>
                      <label class="d-block" for="edo-ani1">
                        <input
                          class="radio_animated"
                          id="edo-ani1"
                          type="radio"
                          [value]="1"
                          name="deactive_account"
                          [(ngModel)]="deactivateAccount"
                        />
                        {{ "d_this_is_temp" | translate }}
                      </label>
                      <label class="d-block mb-0" for="edo-ani2">
                        <input
                          class="radio_animated"
                          id="edo-ani2"
                          type="radio"
                          [value]="2"
                          name="deactive_account"
                          [(ngModel)]="deactivateAccount"
                        />
                        {{ "d_other" | translate }}
                      </label>
                    </div>
                  </div>
                  <!-- <button type="button" class="btn btn-primary">
                    {{ "d_deactive_acc" | translate }}
                  </button> -->
                  <app-button
                    [loading]="deactivating"
                    [disabled]="false"
                    [btnText]="'d_deactive_acc'"
                    (onSubmit)="handleDeactiveAccount()"
                  ></app-button>
                </div>
                <div class="account-setting deactivate-account">
                  <h5 class="f-w-600">{{ "delete_acc" | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <label class="d-block" for="edo-ani3">
                        <input
                          class="radio_animated"
                          id="edo-ani3"
                          type="radio"
                          [value]="0"
                          name="account_delete"
                          [(ngModel)]="deleteAccount"
                        />
                        {{ "d_no_long" | translate }}
                      </label>
                      <label class="d-block" for="edo-ani4">
                        <input
                          class="radio_animated"
                          id="edo-ani4"
                          type="radio"
                          [value]="1"
                          name="account_delete"
                          [(ngModel)]="deleteAccount"
                        />
                        {{ "d_want_to_switch" | translate }}
                      </label>
                      <label class="d-block mb-0" for="edo-ani5">
                        <input
                          class="radio_animated"
                          id="edo-ani5"
                          type="radio"
                          name="account_delete"
                          [value]="2"
                          [(ngModel)]="deleteAccount"
                        />
                        {{ "d_other" | translate }}
                      </label>
                    </div>
                  </div>
                  <!-- <button type="button" class="btn btn-primary">
                    {{ "d_delete_acc" | translate }}
                  </button> -->
                  <app-button
                    [loading]="deleting"
                    [disabled]="false"
                    [btnText]="'d_delete_acc'"
                    (onSubmit)="handleDeleteAccount()"
                  ></app-button>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Cropper Modal -->
<ng-template #cropperModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cropper</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="main-container" ngbAutofocus>
      <div>
        <app-cropper
          [roundCropper]="true"
          (getImage)="getCroppedImage($event)"
        ></app-cropper>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <app-button
      [loading]="submittingPic"
      [disabled]="!tempProfileImage"
      [btnText]="'save_announcement'"
      (onSubmit)="saveProfilePic()"
    ></app-button>
    <button
      class="btn btn-light"
      type="button"
      data-dismiss="modal"
      (click)="modal.dismiss('Cross click')"
    >
      Close
    </button>
  </div>
</ng-template>
<!-- Cropper Modal End -->
