::ng-deep #editor1 textarea,
::ng-deep #editor2 textarea,
::ng-deep #editor3 textarea {
  width: 100% !important;
}

::ng-deep #no-results-btn {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input.counter::-webkit-outer-spin-button,
input.counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.counter[type="number"] {
  -moz-appearance: textfield;
}


.box-input-file{  
  width: 50px;
  height: 50px;
  background-color: #f1f4fb;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
 .upload{
   cursor: pointer;
  position: absolute;
  width: 70px;
  left: 0;
  right: 0;
  opacity: 0
 } 
}