<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="boosting-section">
                <h4>Boosting</h4>
                <p>It is a pay as you go boosting seller tool designed to  increase the visibility of 
                    your listing on Marketoo. Your listing will be pinned across categories in 
                    search results and campaign, allowing as many potential buyers as possible 
                    to come across it.</p>
            </div>
            <div class="questions-section">
                <ngb-accordion [closeOthers]="true" (panelChange)="changeTab($event)">
                    <ngb-panel [id]="quest.id" *ngFor="let quest of questions">
                    <ng-template ngbPanelTitle>
                        <div class="header-title">
                            <span>{{quest.question}}</span>
                            <app-feather-icons *ngIf="tabId !== quest.id" [icon]="'chevron-down'" class="font-primary"></app-feather-icons>
                            <app-feather-icons *ngIf="tabId === quest.id" [icon]="'chevron-up'" class="font-primary"></app-feather-icons>
                        </div>
                    </ng-template>  
                      <ng-template ngbPanelContent>{{quest.answer}}</ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            </div>
        </div>
        <div class="col-12">
            <app-bid-form></app-bid-form>
        </div>
    </div>
</div>