/* You can add global styles to this file, and also import other style files */
// .btn {
//   background-color: #f88379 !important;
//   background: #f88379 !important;
//   border-color: #f88379 !important;
// }

.btn-primary {
  background-color: #f88379 !important;
  background: #f88379 !important;
  border-color: #f88379 !important;
}
.btn-custom {
  // background-color: #f88379 !important;
  // background: #f88379 !important;
  border-color: #f88379 !important;
}
.feather {
  color: #f88379 !important;
}
.fa {
  color: #f88379 !important;
}
line {
  color: #f88379 !important;
}
.sidebar-menu li a {
  // color: #808000 !important;
}
.sidebar-menu .sidebar-submenu > li > a {
  // color: #808000 !important;
}
.ng5-slider .ng5-slider-pointer {
  background-color: #f88379 !important;
}
.pagination li a {
  color: #f88379 !important;
}
.market-chart .ct-series-a .ct-bar {
  stroke: #f88379 !important;
}
.pager li :hover a {
  background: #f88379 !important;
  border-color: #f88379;
}
.pager .active a {
  background: #f88379 !important;
}

.pager li :hover a {
  background: #f88379 !important;
  border-color: #f88379;
  color: white;
}

.custom-datatable
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  // background: #f88379 !important;
  border: 1px solid #f88379 !important;
}

.required:after {
  content: "*";
  color: red;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Responsive Table CSS //
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .responsive-table {
    table,
    .datatable-header thead,
    tbody,
    th,
    td,
    .datatable-row-group,
    .datatable-body-cell,
    .datatable-body-row,
    .datatable-row-group,
    tr {
      display: block !important;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr,
    .datatable-header {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr,
    .datatable-row-group {
      margin: 0;
    }

    tr:nth-child(odd) {
      background: #ccc;
    }
    .datatable-scroll:nth-child(odd) {
      // background: rgba(241, 244, 251, 0.5);
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
    }

    .datatable-body-cell {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        // padding-right: 10px;
        padding: 0.5rem 0.75rem;
        white-space: nowrap;
        font-weight: bold;
      }
    }

    .datatable-row-group {
      width: inherit !important;
      display: block !important;
    }
    .custom-datatable .ngx-datatable .datatable-body-row,
    .custom-datatable .ngx-datatable .datatable-row-center,
    .custom-datatable .ngx-datatable .datatable-header-inner,
    .ngx-datatable .datatable-body .datatable-row-wrapper {
      display: block !important;
    }
    .ngx-datatable .datatable-body .datatable-row-wrapper {
      display: block !important;
    }
    .datatable-body-row,
    .datatable-row-center,
    .datatable-header-inner {
      display: block !important;
    }
    .datatable-body-row,
    .datatable-row-center {
      width: inherit !important;
      height: inherit !important;
      white-space: unset !important;
      display: block !important;
    }
    .ngx-datatable .datatable-body-cell,
    .ngx-datatable .datatable-header-cell {
      display: block !important;
    }
    .ngx-datatable .datatable-body-cell {
      display: block !important;
    }

    .datatable-body-cell {
      width: inherit !important;
      height: inherit !important;
      overflow: unset !important;
      white-space: inherit !important;
      text-overflow: unset !important;
    }
  }
}
// Responsive Table CSS End  //
