<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ "manage_order" | translate }}</h5>
        </div>
        <div class="card-body">
          <div class="custom-datatable">
            <input
              type="text"
              class="filter-ngx form-control"
              placeholder="Search..."
              (keyup)="updateFilter($event)"
            />
            <ngx-datatable
              class="bootstrap"
              [rows]="order"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
            >
              <ngx-datatable-column 
              name='{{ "ordersmanagement_orderid" | translate }}'
              prop="order id"></ngx-datatable-column>
              <ngx-datatable-column 
              name='{{ "ordersmanagement_product" | translate }}'
              prop="product"></ngx-datatable-column>
              <ngx-datatable-column
              name='{{ "ordersmanagement_paymentstatus" | translate }}'
                prop="payment status"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name='{{ "ordersmanagement_paymentmethod" | translate }}'
                prop="paymeny method"
              ></ngx-datatable-column>
              <ngx-datatable-column 
              name='{{ "ordersmanagement_orderstatus" | translate }}'
              prop="order status"></ngx-datatable-column>
              <ngx-datatable-column 
              name='{{ "ordersmanagement_orderdate" | translate }}'
              prop="date"></ngx-datatable-column>
              <ngx-datatable-column 
              name='{{ "ordersmanagement_total" | translate }}'
              name="total"></ngx-datatable-column>
              <ngx-datatable-column
              name='{{ "ordersmanagement_action" | translate }}'
                prpp="action"
                sortable="false"
                prop="order id"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span style="color: #f88379; cursor: pointer">
                    <i class="fa fa-eye" (click)="onSelectRow(value)"></i>
                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
